.m-file-upload {
    width: 100px;
    height: 100px;
    line-height: 100px;
    border: 1px solid #dee2e6;
    margin: 1rem;
    background: #f8f9fa;
    color: #495057;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;

    .m-hidden {
        display: none;
    }
}

